html, body {
    height: 100%;
    margin: 0;
    display: block;
}

.body {
    display: block;
}
/*----------------------------- Split the screen in half ----------------------------*/
    .grid {
      display: grid;
      align-items: stretch;
      /* grid-template-columns: repeat(auto-fill, 186px); */
      /* flex-direction: column; */
      grid-template-columns: 50% 50%;
      grid-template-rows: 100vh 100vh 50vh;
      overflow: scroll;
      grid-template-areas: 
        "aboutLeft aboutRight"
        "projectsLeft projectsRight"
        "skills-resume none";
  }

  @media (max-width: 600px) {
      .aboutLeft {
          grid-column: span 2;
      }
      .aboutRight{
          grid-column: span 2;
      }
      .projectsLeft {
          grid-column: span 2;
          grid-row: span 5;
      }
      .projectsRight {
          grid-column: span 2;
      }
      .shopSite {
          grid-column: span 2;
      }
      .songsterAPI {
          grid-column: span 2;
      }
      .louie {
          grid-column: span 2;
      }
      .section4 {
          grid-column: span 2;
      }
  }