html, body {
    height: 100%;
    margin: 0;
    display: block;
}

.body {
    display: block;
}

/*-----------------------------NAV-----------*/
.nav a{
    /* position: fixed; */
    z-index: 1;
    background-color: transparent !important;
    justify-content: center;
} 





/* Hero*/
.jumbotron {
    height: 100vh;
    border-radius: 0 !important;
    margin-bottom: auto;
    font: --font3;
  }

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  /*----------------------------- Split the screen in half ----------------------------*/
    .grid {
      display: grid;
      align-items: stretch;
      /* grid-template-columns: repeat(auto-fill, 186px); */
      /* flex-direction: column; */
      grid-template-columns: 50% 50%;
      grid-template-rows: 100vh 100vh 100vh 100vh;
      grid-template-areas: 
        "aboutLeft aboutRight"
        "projectsLeft projectsRight"
        "contact contact";
  }

  .aboutLeft { 
    background-color: #323237;
    color: aliceblue;
    text-align: center;
    padding-top: 50vh;
  }

  .aboutRight {
      background-color: #E1DDCF;
      overflow: scroll;
      text-align: left;
      padding: 30px 30px 30px 30px;
  }

  .aboutRight h2 {
    text-align: left;  
  }

  .projectsLeft {
      background-color: #3F5360;
      color: aliceblue;
      text-align: center;
      padding-top: 50vh;
  }

  .grid2 img {
      position: relative;
      margin-top: -20px;
      left: 40px;
      padding: 20px 20px 20px 20px;
      height: 23em;
      width: 14em;
  }

  .projectsRight { 
      background-color: #E1DDCF;
  }

  .grid2 {
    display: grid;
    align-items: stretch;
    /* grid-template-columns: repeat(auto-fill, 186px); */
    /* flex-direction: column; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    grid-template-areas: 
    "shopSite songsterAPI"
    "louie";
  }

  .shopSite {
      background-color: black;
  }

  .songsterAPI {
      background-color: yellow;
  }

  .louie {
      background-color: green;
  }
  .section4 {
      background-color: purple;
  }




  @media (max-width: 600px) {
      .aboutLeft {
          grid-column: span 2;
      }
      .aboutRight{
          grid-column: span 2;
      }
      .projectsLeft {
          grid-column: span 2;
      }
      .projectsRight {
          grid-column: span 2;
      }
      .shopSite {
          grid-column: span 2;
      }
      .songsterAPI {
          grid-column: span 2;
      }
      .louie {
          grid-column: span 2;
      }
      .section4 {
          grid-column: span 2;
      }
  }