.skills-resume {
    background-color: rgb(212, 214, 214);
    grid-column: span 2;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.skills-resume h2 {
    margin-top: 10vh;
    font-family: 'Lato', sans-serif;
}

.logos {
    margin-top: 5vh;
    text-align: center;
}

.logos h2 {
    margin-top: 20px;
}